<a href="/tour/{ID}" style="text-decoration:none; color:inherit; display:block;">
    <div class="card">
        <img src="/{IMAGE}" alt="{TITLE}">
        <div class="card-content">
            <div class="maininfo">
                <div class="rating">{RATING} ({REVIEWS} отзывов)</div>
                <h3 class="title">{TITLE}</h3>
                <p class="desc">{DESCRIPTION}</p>
                <div class="features">
                    <div>Комфорт: {COMFORT}</div> 
                    <div>Активность: {ACTIVITY}</div>
                </div>
            </div>

            <div class="priceinfo">
                {OLD_PRICE}
                <div class="new">₽ {FINAL_PRICE}</div>
                <div class="dates">{DAYS} дн. / {NIGHTS} ноч.</div>
                <button class="buttonmore">Подробнее →</button>
            </div>
        </div>
    </div>
</a>